.movingBox {
  position: absolute;
  width: 25em;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.86);
  background-image: linear-gradient(
    to right top,
    #082247,
    #08244a,
    #1c3f74,
    #092751,
    #0a2955,
    #0a2a57,
    #0a2b58,
    #0a2c5a,
    #0a2c5a,
    #092d5a,
    #092d5a,
    #092d5a
  );
  border: 1px solid #082247;
  user-select: none;
  cursor: pointer;

  border-radius: 20px;
  padding: 15px;
  transition: transform 0.2s ease-in;
  &:hover {
    transform: scale(1.05) rotate(2deg);
  }
}
.selectedBox {
  border: 3px solid var(--text-color);
}
.movingBox .top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.movingBox .middle {
  padding-top: 50px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
.movingBox .bottom {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.movingBox .bottom .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.movingBox .bottom .left div > div:first-child,
.top {
  color: var(--text-color-secondary);
}
@media only screen and (max-width: 650px) {
  .movingBox {
    width: 20em;
    height: 12em;
  }
}
