.Fence {
  width: 100%;
  height: 100vh;
  border: 7px solid red;
  transition: all 1s ease-in;
}

.activateFence {
  animation: ease-in-out 1s infinite alternate fencealarm;
}
@keyframes fencealarm {
  from {
    border-color: red;
  }
  to {
    border-color: green;
  }
}
