@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

body,
#root,
html,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --main-colour: #082247;
  --main-colour-secondary: #f9f9f9;
  --text-color: #ffffff;
  --text-color-secondary: rgba(255, 255, 255, 0.7);
}
